{% extends '@core/layout.html.twig' %}

{% block title %}Listes des articles  {% if page > 1 %} - Page - page {% endif %} {% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="my-h2-title">Les dernières actualités</h2>
				</div>
			{% for article in articles %}
			    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-article-preview">	
			    	<div class="col-xs-12">
				    	<div class="">
				    		<h3 class="my-item-article-list-title">
				    			<a href="{{url.generateUrl('articleOne',{'id': article.id})}}">
				    				{{article.titre}}
				    			</a>
				    		</h3>
				    	</div>
				    	<div class="text-justify my-article-preview-cont">
				    		<p>
				    			{{article.chapo}}
				    		</p> 
				    	</div>
				    	<div class="col-lg-9 col-sm-6 col-xs-6 my-no-padding">
				    		<span class="align-left">
				    		Le
				    		{{article.updatedAt|date('j')}}
				    		{{article.updatedAt|date('n')|frenchMonth}}
				    		{{article.updatedAt|date('Y ')}}
				    		à
				    		{{article.updatedAt|date(' G:i')}}
				    		</span>
				    	</div>
				    	<div class="col-lg-3 col-sm-6 col-xs-6 my-no-padding text-right">
				    		<span class="align-right">
				    			<a href="{{url.generateUrl('articleOne',{'id': article.id})}}">Voir plus</a>
				    		</span>
				    	</div>
			    	</div>
			    </div>
			{% endfor %}
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					{{include('@public/pagination-listBlog.html.twig')}}
				</div>
			</div>
		</div>
	</section>
{% endblock %}